{% extends 'base.html' %}

{% block title %}
Secret Message
{% endblock %}

{% load static %}

{% block css %}
<meta content="Send secret message to your friend, have fun." name="description">
{% endblock %}

{% block page_header %}
Secret Message
{% endblock %}

{% block body %}

<div class="card">
    <div class="card-header">
        <div>
            <h3 class="card-title" style="text-transform: none;">Message {{ user }} Secretly 😉, he will never know who
                messaged him.😅</h3>
        </div>
    </div>
    <div class="card-body" style="padding-bottom: 0px;">
        <form method="POST" id="message_form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12 ">
                    <div class="form-group mb-0">
                        <textarea class="form-control" name="message" rows="4" placeholder="message here..."></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <div class="form-group mb-0">
                        <div class="btn" style="float: right; padding-right: 0px;" id="send">
                            <a href="#" class="btn btn-pill btn-success">Send Message</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block js %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    (() => {
        document.getElementById("send").onclick = function () {
            Swal.fire({
                title: "Are you sure?",
                text: "Once sent, you will not be able to delete this message!",
                icon: "warning",
                showCancelButton: true,
                dangerMode: true,
            }).then((send) => {
                if (send.isConfirmed) {
                    Swal.fire({
                        title: "Sent!",
                        text: "Message has been sent!",
                        icon: "success",
                        showConfirmButton: false,
                    });
                    setTimeout(function () { document.getElementById("message_form").submit(); }, 1000);
                }
            });
        }
    })();
</script>
{% endblock %}