{% extends 'base.html' %}

{% block title %}
Tic-Tac-Toe
{% endblock %}

{% load static %}

{% block css %}
<link href="{% static 'plugins/datatable/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/datatable/responsivebootstrap4.min.css' %}" rel="stylesheet" />
<style>
    .no-sort::after {
        display: none !important;
    }

    .no-sort::before {
        display: none !important;
    }

    .no-sort {
        pointer-events: none !important;
        cursor: default !important;
    }
</style>
{% endblock %}

{% block page_header %}
Leader Board
{% endblock %}

{% block body %}

<!-- Row -->
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card" id="leaderboard">
            <div class="card-header">
                <div>
                    <h3 class="card-title">Leaderboard</h3>
                </div>
                <div class="card-options">
                    <div class="d-md-flex" id="fulltable">
                        <a href="#" class="nav-link icon full-screen-link">
                            <i class="fe fe-minimize"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive" style="height: 100%;">
                    <table id="example" class="table table-striped table-bordered text-nowrap w-100">
                        <thead>
                            <tr>
                                <th class="wd-5p no-sort"></th>
                                <th class="wd-10p no-sort">Rank</th>
                                <th class="wd-25p no-sort">User</th>
                                <th class="wd-10p no-sort">Score</th>
                            </tr>
                        </thead>
                        <tbody id="table-content">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row End-->

{% endblock %}

{% block js %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    (() => {
        $('#fulltable').on('click', function () {
            // if already full screen; exit
            // else go fullscreen
            if (
                document.fullscreenElement ||
                document.webkitFullscreenElement ||
                document.mozFullScreenElement ||
                document.msFullscreenElement
            ) {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.webkitExitFullscreen) {
                    document.webkitExitFullscreen();
                } else if (document.msExitFullscreen) {
                    document.msExitFullscreen();
                }
            } else {
                element = $('#leaderboard').get(0);
                if (element.requestFullscreen) {
                    element.requestFullscreen();
                } else if (element.mozRequestFullScreen) {
                    element.mozRequestFullScreen();
                } else if (element.webkitRequestFullscreen) {
                    element.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
                } else if (element.msRequestFullscreen) {
                    element.msRequestFullscreen();
                }
            }
        });
    })();
    (() => {
        var tableData = '{{ data | safe }}';
        tableData = JSON.parse(tableData);
        var tableContent = document.getElementById("table-content");
        tableContent.innerHTML = '';
        for (let i = 0; i < tableData.length; i++) {
            const element = tableData[i];
            var medal = "";
            if (i < 5) {
                medal = ["🥇", "🥈", "🥉", "🏅", "🎖"][i]
            }
            if ("{{ userScore.user__username | safe }}" == element["user__username"]) {
                tableContent.innerHTML += `
                                <tr style="background-color: #17d092;">
                                    <td style="padding: 0px;"><div style="font-size: 30px; width: fit-content; align-self: center; margin: 0 auto;">${medal}</div></td>
                                    <td style="color: black;">${i + 1}</td>
                                    <td style="color: black;">${element["user__username"]}
                                        <button type="button" class="btn btn-warning btn-sm" style="float: right;">
                                            <i class="fe fe-share mr-2"></i>Share
                                        </button>
                                    </td>
                                    <td style="color: black;">${element["score"]}</td>
                                </tr>`;
            }
            else {
                tableContent.innerHTML += `
                                <tr>
                                    <td style="padding: 0px;"><div style="font-size: 30px; width: fit-content; align-self: center; margin: 0 auto;">${medal}</div></td>
                                    <td>${i + 1}</td>
                                    <td>${element["user__username"]}</td>
                                    <td>${element["score"]}</td>
                                </tr>`;
            }
        }
        if ('{{ userRank | safe }}' > 5) {
            tableContent.innerHTML = `
                            <tr style="background-color: #17d092;">
                                <td></td>
                                <td>{{ userRank | safe }}</td>
                                <td>{{ userScore.user__username | safe }}
                                    <button type="button" class="btn btn-warning btn-sm" style="float: right;">
                                            <i class="fe fe-share mr-2"></i>Share
                                        </button>
                                </td>
                                <td>{{ userScore.score | safe }}</td>
                            </tr>` + tableContent.innerHTML;
        }
    })();
</script>

{% endblock %}