{% extends 'base.html' %}

{% block title %}
Confirm Email
{% endblock %}

{% load static %}

{% block page_header %}
Confirm Your Email
{% endblock %}

{% block body %}
<div class="alert alert-warning" role="alert">
    <span class="alert-inner--icon"><i class="fe fe-info"></i></span>
    <span class="alert-inner--text"><strong>Warning! - </strong>Your account created successfully. Please confirm your
        email to login to your account. Check your email inbox to confirm your email and activate your account.</span>
</div>
{% endblock %}