<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="FunBye - One Byte Towards Fun" name="description">
    {% load static %}
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/brand/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/brand/favicon.ico' %}" />

    <!-- Title -->
    <title>Change Password</title>

    <!--Bootstrap css-->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">

    <!--Style css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/dark-style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/skin-modes.css' %}" rel="stylesheet">

    <!-- Sidemenu css -->
    <link href="{% static 'plugins/sidemenu/sidemenu.css' %}" rel="stylesheet" />

    <!--Daterangepicker css-->
    <link href="{% static 'plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet" />

    <!-- Rightsidebar css -->
    <link href="{% static 'plugins/sidebar/sidebar.css' %}" rel="stylesheet">

    <!---Icons css-->
    <link href="{% static 'css/icons.css' %}" rel="stylesheet" />

</head>

<body class="bg-account dark-mode">

    <!-- page -->
    <div class="page">

        <!-- page-content -->
        <div class="page-content">
            <div class="container text-center text-dark">
                <div class="row">
                    <div class="col-lg-4 d-block mx-auto">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-md-12">
                                <form class="card" method="POST" id="cpass">
                                    {% csrf_token %}
                                    <div class="card-body">
                                        <div class="text-center mb-6">
                                            <a href="/">
                                                <img src="{% static 'images/brand/logo.png' %}"
                                                    class="header-brand-img main-logo" alt="IndoUi logo">
                                                <img src="{% static 'images/brand/logo-light.png' %}"
                                                    class="header-brand-img dark-main-logo" alt="IndoUi logo">
                                            </a>
                                        </div>
                                        <h3>Change Password</h3>
                                        <div class="input-group mb-3">
                                            <span class="input-group-addon bg-white"><i
                                                    class="fa fa-unlock-alt"></i></span>
                                            <input type="password" class="form-control" placeholder="Password"
                                                name="password" id="password">
                                        </div>
                                        <div class="input-group mb-4">
                                            <span class="input-group-addon bg-white"><i
                                                    class="fa fa-unlock-alt"></i></span>
                                            <input type="password" class="form-control" placeholder="Confirm Password"
                                                name="cpassword" id="cpassword">
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <p style="color: rgb(255, 52, 52);">{{ message }}</p>
                                            </div>
                                            <div class="col-12">
                                                <button type="button" class="btn btn-primary" onclick="sub()">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-content end -->

    </div>
    <!-- page End-->

    <!-- Jquery js-->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

    <!--Bootstrap.min js-->
    <script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <!--Jquery Sparkline js-->
    <script src="{% static 'js/jquery.sparkline.min.js' %}"></script>

    <!-- Chart Circle js-->
    <script src="{% static 'js/circle-progress.min.js' %}"></script>

    <!-- Star Rating js-->
    <script src="{% static 'plugins/rating/jquery.rating-stars.js' %}"></script>

    <!--Moment js-->
    <script src="{% static 'plugins/moment/moment.min.js' %}"></script>

    <!-- Daterangepicker js-->
    <script src="{% static 'plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

    <!-- Custom js-->
    <script src="{% static 'js/custom.js' %}"></script>

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        function sub() {
            if (document.getElementById('password').value == document.getElementById('cpassword').value) {
                if (document.getElementById('password').value == "") {
                    Swal.fire({
                        text: "Please enter a password",
                        icon: "warning",
                    });
                }
                else {
                    document.getElementById('cpass').submit();
                }
            } else {
                Swal.fire({
                    text: "Password mismatched",
                    icon: "warning",
                });
            };
        }
    </script>

</body>

</html>