{% extends 'base.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block css %}
{% load static %}
<!-- Form-wizard css-->
<link href="{% static 'plugins/formwizard/smart_wizard.css' %}" rel="stylesheet">
<link href="{% static 'plugins/formwizard/smart_wizard_theme_dots.css' %}" rel="stylesheet">
{% endblock %}

{% block page_header %}
Sign Up
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form id="form" method="POST">
                    {% csrf_token %}
                    <div class="list-group">
                        <div class="list-group-item py-3" data-acc-step>
                            <h5 class="mb-0" data-acc-title>Name & Email</h5>
                            <div data-acc-content>
                                <div class="my-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>First Name:</label>
                                                <input type="text" class="form-control" name="firstname"
                                                    placeholder="Enter Your First Name" value="{{ firstname }}" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Last Name:</label>
                                                <input type="text" class="form-control" name="lastname"
                                                    placeholder="Enter Your Last Name" value="{{ lastname }}" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Username:</label>
                                                <input type="text" name="username" class="form-control"
                                                    placeholder="Enter Your Username" value="{{ username }}" />
                                                <p style="color: rgb(255, 52, 52);">{{ umessage }}</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Email:</label>
                                                <input type="email" name="email" class="form-control"
                                                    placeholder="Enter Your Email" value="{{ email }}" />
                                                {% if emessage %}
                                                <p style="color: rgb(255, 52, 52);">{{ emessage }}<a
                                                        href="/accounts/forgotpassword/"
                                                        class="btn btn-link box-shadow-0 px-0">Forgot password?</a><a
                                                        href="/accounts/login/"
                                                        class="btn btn-link box-shadow-0 px-0">Login?</a></p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item py-3" data-acc-step>
                            <h5 class="mb-0" data-acc-title>Password</h5>
                            <div data-acc-content>
                                <div class="my-3">
                                    <div class="form-group">
                                        <label>Password:</label>
                                        <input type="password" name="password" class="form-control" id="password"
                                            placeholder="Enter Your Password" />
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm Password:</label>
                                        <input type="password" name="cpassword" class="form-control" id="cpassword"
                                            placeholder="Confirm Your Password" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item py-3" data-acc-step>
                            <h5 class="mb-0" data-acc-title>Terms & Conditions</h5>
                            <div data-acc-content>
                                <div class="my-3">
                                    <!-- T&C -->
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4><b>Terms and Conditions</b></h4>
                                                <p>I must explain to you how all this mistaken idea of denouncing
                                                    pleasure and praising pain was born and I will give you a complete
                                                    account of the system, and expound the actual teachings of the great
                                                    explorer of the truth, the master-builder of human happiness. No one
                                                    rejects, dislikes, or avoids pleasure itself, because it is
                                                    pleasure, but because those who do not know how to pursue pleasure
                                                    rationally encounter consequences</p>
                                                <ul>
                                                    <li><i class="fa fa-angle-double-right"></i> ducimus qui blanditiis
                                                        praesentium voluptatum deleniti atque corrupti quos dolores
                                                    </li>
                                                    <li><i class="fa fa-angle-double-right"></i> quas molestias
                                                        excepturi sint occaecati cupiditate non provident</li>
                                                    <li><i class="fa fa-angle-double-right"></i> Nam libero tempore, cum
                                                        soluta nobis est eligendi optio cumque</li>
                                                    <li><i class="fa fa-angle-double-right"></i> Temporibus autem
                                                        quibusdam et aut officiis debitis aut rerum necessitatibus saepe
                                                        eveniet ut et voluptates</li>
                                                    <li><i class="fa fa-angle-double-right"></i> repudiandae sint et
                                                        molestiae non recusandae itaque earum rerum hic tenetur a
                                                        sapiente delectus</li>
                                                    <li><i class="fa fa-angle-double-right"></i> ut aut reiciendis
                                                        voluptatibus maiores alias consequatur aut perferendis doloribus
                                                        asperiores repellat</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body border">
                                                <div class="checkbox">
                                                    <div class="custom-checkbox custom-control">
                                                        <input type="checkbox" data-checkboxes="mygroup"
                                                            class="custom-control-input" id="checkbox2">
                                                        <label for="checkbox2" class="custom-control-label">I have read
                                                            and agree to the Terms & Conditions</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end T&C -->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<!--Accordion-Wizard-Form js-->
<script src="{% static 'plugins/accordion-Wizard-Form/jquery.accordion-wizard.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
    integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA=="
    crossorigin="anonymous"></script>

<!--Advanced Froms js-->
<script>
    (() => {
        (function ($) {
            "use strict";
            //accordion-wizard
            var options = {
                mode: 'wizard',
                autoButtonsNextClass: 'btn btn-primary float-right',
                autoButtonsPrevClass: 'btn btn-info',
                stepNumberClass: 'badge badge-pill badge-primary mr-1',
                onSubmit: function () {
                    if ($("#checkbox2").prop('checked') == true) {
                        if ($('#password').val() == $('#cpassword').val()) {
                            if ($('#password').val() == "") {
                                swal({
                                    text: "Please enter a password",
                                    icon: "warning",
                                });
                                return false;
                            }
                            else {
                                return true;
                            }
                        } else {
                            swal({
                                text: "Password mismatched",
                                icon: "warning",
                            });
                            return false;
                        };
                    }
                    else {
                        swal({
                            text: "Please accept T&C to proceed!",
                            icon: "warning",
                        });
                        return false;
                    }
                }
            }
            $("#form").accWizard(options);
        })(jQuery);
    })();
</script>
{% endblock %}