{% extends 'base.html' %}

{% block title %}
Tic-Tac-Toe
{% endblock %}

{% load static %}

{% block css %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
<style>
    #board {
        width: 100%;
        max-width: 60vh;
        display: flex;
        flex-wrap: wrap;
        font-size: 100px;
        margin-top: 20px;
        font-family: 'Nerko One', cursive;
    }

    .field {
        height: 20vh;
        width: 33.33333%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2a1e5c;
        border: none;
        border-radius: 0px;
        border-bottom: 3px solid #ffffff;
        border-right: 3px solid #ffffff;
        outline: none;
    }

    .field.win {
        background-color: #17d092;
        transition: background-color 2s;
    }

    .field.no-r {
        border-right: none;
    }

    .field.no-b {
        border-bottom: none;
    }

    .field p {
        margin: 0px;
    }
</style>
{% endblock %}

{% block page_header %}
Tic Tac Toe
{% endblock %}

{% block body %}

<!-- Row -->
<div class="row">
    <div class="card">
        <div class="card-body" style="padding-left: 0px; padding-right: 0px;">
            <div class="col-md-12 col-lg-4 mx-auto" style="min-width: fit-content; max-width: 60vh;">
                <div class="card" style="background-color: #2a1e5c;" id="gamecard">
                    <div class="card-header">
                        <h3 class="card-title mx-auto"
                            style="font-size: 60px; font-family: 'Nerko One', cursive; color: #dbdfac;">Play</h3>
                        <div class="d-md-flex" id="fulltable">
                            <a href="#" class="nav-link icon full-screen-link">
                                <i class="fe fe-minimize"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body mx-auto"
                        style="width: 100%; max-width: 60vh; padding: 0px; padding-bottom: 24px;">
                        <div class="mx-auto" style="width: 100%;">
                            <div style="width: fit-content; display: inline; float: left; padding-left: 5px;">
                                <h2
                                    style="font-family: 'Nerko One', cursive; color: #dbdfac; width: fit-content; display: inline;">
                                    Score X :
                                </h2>
                                <h2 style="font-family: 'Nerko One', cursive; color: #dbdfac; width: fit-content; display: inline;"
                                    id="scoreX">0</h2>
                            </div>
                            <div style="width: fit-content; display: inline; float: right; padding-right: 5px;">
                                <h2
                                    style="font-family: 'Nerko One', cursive; color: #dbdfac; width: fit-content; display: inline;">
                                    Score O :
                                </h2>
                                <h2 style="font-family: 'Nerko One', cursive; color: #dbdfac; width: fit-content; display: inline;"
                                    id="scoreO">0</h2>
                            </div>
                            <div style="width: 100%; display: inline-block; align-items: center;">
                                <div class="mx-auto" style="width: fit-content;">
                                    <h2
                                        style="font-family: 'Nerko One', cursive; color: #dbdfac; width: fit-content; display: inline;">
                                        Turn :
                                    </h2>
                                    <h2 style="font-family: 'Nerko One', cursive; color: #dbdfac; width: fit-content; display: inline;"
                                        id="turn">O</h2>
                                </div>
                            </div>
                        </div>
                        <div class="board" id="board">
                            <button class="field" id="0" onclick="boxClicked(this.id)">
                                <p style="color: #dbdfac;"></p>
                            </button>
                            <button class="field" id="1" onclick="boxClicked(this.id)">
                                <p style="color: #dbdfac;"></p>
                            </button>
                            <button class="field no-r" id="2" onclick="boxClicked(this.id)">
                                <p style="color: #dbdfac;"></p>
                            </button>
                            <button class="field" id="3" onclick="boxClicked(this.id)">
                                <p style="color: #dbdfac;"></p>
                            </button>
                            <button class="field" id="4" onclick="boxClicked(this.id)">
                                <p style="color: #dbdfac;"></p>
                            </button>
                            <button class="field no-r" id="5" onclick="boxClicked(this.id)">
                                <p style="color: #dbdfac;"></p>
                            </button>
                            <button class="field no-b" id="6" onclick="boxClicked(this.id)">
                                <p style="color: #dbdfac;"></p>
                            </button>
                            <button class="field no-b" id="7" onclick="boxClicked(this.id)">
                                <p style="color: #dbdfac;"></p>
                            </button>
                            <button class="field no-b no-r" id="8" onclick="boxClicked(this.id)">
                                <p style="color: #dbdfac;"></p>
                            </button>
                        </div>
                    </div>
                    <div class="card-footer mx-auto">
                        <button class="mx-auto" style="padding: 10px 20px; background-color: #d7f171; border: none;
                        border-radius: 20px; color: #2a1e5c; font-size: 20px;
                        font-weight: bold; cursor: pointer; text-transform: uppercase;"
                            onclick="rstGame()">Restart</button>
                        <button class="mx-auto" style="padding: 10px 20px; background-color: #d7f171; border: none;
                        border-radius: 20px; color: #2a1e5c; font-size: 20px;
                        font-weight: bold; cursor: pointer; text-transform: uppercase;" onclick="quit()">Quit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->

{% endblock %}

{% block js %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    $('#fulltable').on('click', function () {
        // if already full screen; exit
        // else go fullscreen
        if (
            document.fullscreenElement ||
            document.webkitFullscreenElement ||
            document.mozFullScreenElement ||
            document.msFullscreenElement
        ) {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitExitFullscreen) {
                document.webkitExitFullscreen();
            } else if (document.msExitFullscreen) {
                document.msExitFullscreen();
            }
        } else {
            element = $('#gamecard').get(0);
            if (element.requestFullscreen) {
                element.requestFullscreen();
            } else if (element.mozRequestFullScreen) {
                element.mozRequestFullScreen();
            } else if (element.webkitRequestFullscreen) {
                element.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
            } else if (element.msRequestFullscreen) {
                element.msRequestFullscreen();
            }
        }
    });

</script>

<script>
    const tick_circle = "O";
    const tick_x = "X";
    var scoreO = 0;
    var scoreX = 0;
    var mainBoard = [0, 0, 0, 0, 0, 0, 0, 0, 0];
    const htmlBoard = Array.from(document.querySelectorAll('button.field'));
    let currentPlayer = tick_circle;
    const winningConditions = [
        [0, 1, 2],
        [3, 4, 5],
        [6, 7, 8],
        [0, 3, 6],
        [1, 4, 7],
        [2, 5, 8],
        [0, 4, 8],
        [2, 4, 6]
    ];

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function boxClicked(id) {
        if (!mainBoard[id]) {
            mainBoard[id] = currentPlayer;
            document.getElementById(id).children[0].textContent = currentPlayer;
            deactivate();
            if (matchDraw()) {
                if (
                    document.fullscreenElement ||
                    document.webkitFullscreenElement ||
                    document.mozFullScreenElement ||
                    document.msFullscreenElement
                ) {
                    if (document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if (document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if (document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                    } else if (document.msExitFullscreen) {
                        document.msExitFullscreen();
                    }
                }
                Swal.fire({
                    title: "Its a draw!",
                    text: "Want to play again?",
                    icon: "warning",
                    showCancelButton: true,
                }).then((play) => {
                    if (play.isConfirmed) {
                        restart();
                    }
                });
            }
            if (playerWon()) {
                await sleep(2000);
                if (
                    document.fullscreenElement ||
                    document.webkitFullscreenElement ||
                    document.mozFullScreenElement ||
                    document.msFullscreenElement
                ) {
                    if (document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if (document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if (document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                    } else if (document.msExitFullscreen) {
                        document.msExitFullscreen();
                    }
                }
                if (currentPlayer == "X") {
                    scoreX += 1;
                    document.getElementById("scoreX").innerText = scoreX;
                } else {
                    scoreO += 1;
                    document.getElementById("scoreO").innerText = scoreO;
                }
                Swal.fire({
                    title: "Congratulation! Player " + currentPlayer + " Won!",
                    text: "Want to play again?",
                    icon: "success",
                    confirmButtonText: "Yes, Play",
                    showCancelButton: true,
                    cancelButtonText: "No",
                }).then((play) => {
                    if (play.isConfirmed) {
                        restart();
                    } else {
                        window.location = '/tictactoe/'
                    }
                });
            }
            currentPlayer == "X" ? currentPlayer = "O" : currentPlayer = "X";
            document.getElementById('turn').innerText = currentPlayer;
            activate();
        }
    }

    const deactivate = () => {
        htmlBoard.forEach(field => {
            field.setAttribute('disabled', '');
        });
    }

    const activate = () => {
        htmlBoard.forEach(field => {
            field.removeAttribute('disabled');
        });
    }

    function playerWon() {
        for (let i = 0; i < winningConditions.length; i++) {
            var a = mainBoard[winningConditions[i][0]];
            var b = mainBoard[winningConditions[i][1]];
            var c = mainBoard[winningConditions[i][2]];
            if (a != 0 && a == b && b == c) {
                const fields = document.getElementsByClassName('field');
                fields[winningConditions[i][0]].classList.add('win');
                fields[winningConditions[i][1]].classList.add('win');
                fields[winningConditions[i][2]].classList.add('win');
                return true;
            }
        }
        return false;
    }

    function matchDraw() {
        if (mainBoard.includes(0)) {
            return false;
        } else {
            if (playerWon()) {
                return false;
            } else {
                return true;
            }
        }
    }

    function restart() {
        mainBoard = [0, 0, 0, 0, 0, 0, 0, 0, 0];
        const fields = document.getElementsByClassName('field');
        for (let i = 0; i < fields.length; i++) {
            fields[i].classList.remove('win');
            fields[i].children[0].textContent = "";
        }
    }

    function rstGame() {
        if (mainBoard.includes("X") || mainBoard.includes("O") || scoreO > 0 || scoreX > 0) {
            Swal.fire({
                title: "Are you sure?",
                text: "Want to restart?",
                icon: "warning",
                confirmButtonText: "Restart",
                showCancelButton: true,
            }).then((rst) => {
                if (rst.isConfirmed) {
                    scoreO = 0;
                    scoreX = 0;
                    document.getElementById("scoreO").innerText = scoreO;
                    document.getElementById("scoreX").innerText = scoreX;
                    restart();
                }
            });
        }
    }

    function quit() {
        if (mainBoard.includes("X") || mainBoard.includes("O")) {
            if (
                document.fullscreenElement ||
                document.webkitFullscreenElement ||
                document.mozFullScreenElement ||
                document.msFullscreenElement
            ) {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.webkitExitFullscreen) {
                    document.webkitExitFullscreen();
                } else if (document.msExitFullscreen) {
                    document.msExitFullscreen();
                }
            }
            Swal.fire({
                title: "Are you sure?",
                text: "Want to quit?",
                icon: "warning",
                confirmButtonText: "OK, Quit",
                showCancelButton: true,
                cancelButtonText: "Don't Quit",
            }).then((quit) => {
                if (quit.isConfirmed) {
                    window.location = '/tictactoe/';
                }
            });
        } else {
            window.location = '/tictactoe/';
        }
    }

</script>
{% endblock %}