{% extends 'base.html' %}


{% block title %}
Home
{% endblock %}

{% load static %}

{% block page_header %}
Home
{% endblock %}

{% block body %}
<!-- Row -->
<div class="row">

    <!-- World Chat Card -->
    <div class="col-md-12 col-lg-4 col-md-4 col-xl-4">
        <div class="card overflow-hidden">
            <img src="{% static 'images/photos/worldChat/world-chat-logo.jpg' %}" alt="image">
            <div class="card-body">
                <h5 class="card-title mb-2">World Chat</h5>
                <p class="card-text text-muted">World chat is a chat room used by people from all around the world to
                    chat with each other. Find people and make them friends.</p>
                <a href="/worldchat/" class="btn btn-primary btn-lg mb-1" style="float: right;">Go</a>
            </div>
        </div>
    </div>
    <!-- World Chat Card end -->

    <!-- Secret Message Card -->
    <div class="col-md-12 col-lg-4 col-md-4 col-xl-4">
        <div class="card overflow-hidden">
            <img src="{% static 'images/photos/secretMessage/secret-message-logo.jpg' %}" alt="image">
            <div class="card-body">
                <h5 class="card-title mb-2">Secret Message</h5>
                <p class="card-text text-muted">Get messages from your friends, coworkers and Fans.
                    But you can never know who messaged you!</p>
                <a href="/secretmessage/" class="btn btn-primary btn-lg mb-1" style="float: right;">Go</a>
            </div>
        </div>
    </div>
    <!-- Secret Message Card end -->

    <!-- Tic Tac Toe Card -->
    <div class="col-md-12 col-lg-4 col-md-4 col-xl-4">
        <div class="card overflow-hidden">
            <img src="{% static 'images/photos/ticTacToe/tic-tac-toe-logo.jpg' %}" alt="image">
            <div class="card-body">
                <h5 class="card-title mb-2">Tic Tac Toe</h5>
                <p class="card-text text-muted">Play single or with your friend in multiplayer and have fun.</p>
                <a href="/tictactoe/" class="btn btn-primary btn-lg mb-1" style="float: right;">Go</a>
            </div>
        </div>
    </div>
    <!-- Tic Tac Toe Card end -->

    <!-- T-Rex Card -->
    <div class="col-md-12 col-lg-4 col-md-4 col-xl-4">
        <div class="card overflow-hidden">
            <img src="{% static 'images/photos/tRex/t-rex-logo.jpg' %}" alt="image">
            <div class="card-body">
                <h5 class="card-title mb-2">T-Rex</h5>
                <p class="card-text text-muted">Play T-Rex Dino Runner Game at night. Jump over cactuses and dodge pterodactyls.</p>
                <a href="/trex/" class="btn btn-primary btn-lg mb-1" style="float: right;">Go</a>
            </div>
        </div>
    </div>
    <!-- T-Rex Card end -->

</div>
<!-- End Row -->
{% endblock %}